Flow.rtf
{\rtf1\ansi\ansicpg1252\cocoartf1504\cocoasubrtf810
{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
{\*\expandedcolortbl;;}
\margl1440\margr1440\vieww10800\viewh8400\viewkind0
\pard\tx720\tx1440\tx2160\tx2880\tx3600\tx4320\tx5040\tx5760\tx6480\tx7200\tx7920\tx8640\pardirnatural\partightenfactor0

\f0\fs24 \cf0 [\{"id":"1ad9b14f.ee4b8f","type":"tab","label":"Air Gestt"\},\{"id":"6d1fa8fd.975818","type":"watson-text-to-speech","z":"1ad9b14f.ee4b8f","name":"","lang":"en-US","langhidden":"en-US","langcustom":"NoCustomisationSetting","langcustomhidden":"","voice":"en-US_LisaVoice","voicehidden":"en-US_LisaVoice","password":"","x":444,"y":585,"wires":[["14861708.de7e09"]]\},\{"id":"894fe97d.638458","type":"inject","z":"1ad9b14f.ee4b8f","name":"","topic":"","payload":"yo","payloadType":"str","repeat":"54000","crontab":"","once":false,"x":129.09090423583984,"y":813.7272710800171,"wires":[["6d1fa8fd.975818"]]\},\{"id":"5c5d5b83.4bf9b4","type":"websocket out","z":"1ad9b14f.ee4b8f","name":"","server":"1f60d438.9f1b3c","client":"","x":616.0909042358398,"y":791.7272710800171,"wires":[]\},\{"id":"14401886.e93b17","type":"http in","z":"1ad9b14f.ee4b8f","name":"","url":"/audio","method":"get","swaggerDoc":"","x":169.81817626953125,"y":911.3636322021484,"wires":[["fa09679f.31eed8"]]\},\{"id":"61805d6f.9b51e4","type":"http response","z":"1ad9b14f.ee4b8f","name":"","x":592.3636646270752,"y":919.6363487243652,"wires":[]\},\{"id":"fa09679f.31eed8","type":"template","z":"1ad9b14f.ee4b8f","name":"","field":"payload","fieldType":"msg","syntax":"mustache","template":"<!DOCTYPE html>\\n\\n\\n<html>\\n<head>\\n\\n\\n<link rel=\\"apple-touch-icon\\" sizes=\\"180x180\\" href=\\"/apple-touch-icon.png\\">\\n<link rel=\\"icon\\" type=\\"image/png\\" href=\\"/favicon-32x32.png\\" sizes=\\"32x32\\">\\n<link rel=\\"icon\\" type=\\"image/png\\" href=\\"/favicon-16x16.png\\" sizes=\\"16x16\\">\\n<link rel=\\"manifest\\" href=\\"/manifest.json\\">\\n<link rel=\\"mask-icon\\" href=\\"/safari-pinned-tab.svg\\" color=\\"#5bbad5\\">\\n<meta name=\\"theme-color\\" content=\\"#ffffff\\">\\n\\n  <title>IBM Watson - Text To Speech</title>\\n  <script src=\\"https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js\\"></script>\\n  \\n  <script type=\\"text/javascript\\">\\n  \\n    var socketaddy = \\"ws://\\" + window.location.host + \\"/ws/audio\\";\\n\\n    $(document).ready(function()\{\\n      var output = document.getElementById('output')\\n      $('#output').on('playing', function () \{\\n          $('#text').text('Playing audio.')\\n          \\n      \});\\n      $('#output').on('ended', function () \{\\n          \\n          \\n      \});\\n      sock = new WebSocket(socketaddy);\\n      sock.onopen = function()\{\\n         \\n          console.log(\\"Connected websocket\\");\\n      \};\\n      sock.onerror = function()\{ \\n          console.log(\\"Websocket error\\"); \\n      \};\\n      sock.onclose = function () \{\\n         \\n      \}\\n      sock.onmessage = function(evt)\{\\n        console.log(\\"Websocket message\\", evt); \\n        output.src = window.URL.createObjectURL(evt.data);\\n        output.play();\\n      \};\\n    \});\\n  </script>\\n  \\n  <style type=\\"text/css\\">\\n\\n  html, body, #wrapper \{\\n    margin: 0;\\n    padding: 0;\\n    height: 100%;\\n  \}\\n\\n  #wrapper \{\\n    background: url(https://s-media-cache-ak0.pinimg.com/originals/a5/6f/c9/a56fc90a5ed23e3047aa9cc902750b54.gif) 50%;\\n    background-size: cover;\\n    background-repeat: no-repeat;\\n    background-color: 141414;\\n  \}\\n\\n\\n \\n</style>\\n  \\n</head>\\n <div id=\\"wrapper\\">\\n</div\\n<body style=\\"font-size: 56px; font-family: helvetica; text-align: center; margin-top: 100px;\\">\\n  \\n  \\n  <audio id=\\"output\\"></audio>\\n  \\n</body>\\n\\n</html>\\n\\n\\n\\n\\n\\n\\n\\n\\n\\n\\n","x":386.81817626953125,"y":918.3636322021484,"wires":[["61805d6f.9b51e4"]]\},\{"id":"14861708.de7e09","type":"function","z":"1ad9b14f.ee4b8f","name":"","func":"msg.payload = msg.speech;\\nreturn msg;","outputs":1,"noerr":0,"x":457.8181769631126,"y":703.5454528981988,"wires":[["5c5d5b83.4bf9b4","d7c60086.f7403"]]\},\{"id":"4e849a31.06aff4","type":"twilio out","z":"1ad9b14f.ee4b8f","service":"_ext_","twilio":"5cf170d3.1e796","from":"","number":"4128889612","name":"Yates","x":261.5,"y":406,"wires":[]\},\{"id":"9ccdb9ef.3a4098","type":"debug","z":"1ad9b14f.ee4b8f","name":"","active":true,"console":"false","complete":"false","x":83.5,"y":386,"wires":[]\},\{"id":"d7c60086.f7403","type":"debug","z":"1ad9b14f.ee4b8f","name":"","active":false,"console":"false","complete":"false","x":475.5,"y":873,"wires":[]\},\{"id":"64febb79.9feaf4","type":"ibmiot in","z":"1ad9b14f.ee4b8f","authentication":"boundService","apiKey":"","inputType":"evt","deviceId":"randomLeap","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":true,"allEvents":true,"allCommands":"","allFormats":"","qos":"1","x":85,"y":726,"wires":[["f0931a1b.213348","ec86043b.f7c008"]]\},\{"id":"f0931a1b.213348","type":"debug","z":"1ad9b14f.ee4b8f","name":"","active":false,"console":"false","complete":"false","x":75,"y":620,"wires":[]\},\{"id":"ec86043b.f7c008","type":"function","z":"1ad9b14f.ee4b8f","name":"","func":"msg.payload = msg.payload.event\\nreturn msg;","outputs":1,"noerr":0,"x":292.5,"y":512,"wires":[["6d1fa8fd.975818","4c5ac267.72161c"]]\},\{"id":"4c5ac267.72161c","type":"debug","z":"1ad9b14f.ee4b8f","name":"","active":true,"console":"false","complete":"false","x":584.5,"y":491,"wires":[]\},\{"id":"1f60d438.9f1b3c","type":"websocket-listener","path":"/ws/audio","wholemsg":"false"\},\{"id":"5cf170d3.1e796","type":"twilio-api","z":"","sid":"ACdb766e59eb1125eff9bc28c7cc17a6f6","from":"(412) 200-5595","name":"Diego"\}]}